* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: yellow;
}

.button-inline {
	background: grey;
	color: black;
	border: 0;
	padding: 1em;
}

.button-active {
	background: lightgreen;
	color: black;
	border: 0;
	padding: 1em;
}